body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.filter{
	padding:8px;
	float:left;
}

/*overview*/
.overview {
	padding:15px;
	float:right;
	font-size:1.5em;
}

.overview span {
	color:white;
	display:inline;
	padding:5px 12px;
	border-radius: 5px;
}

.overview .up{
	background-color:green;
}
.overview .down{
	background-color:red;
}
.overview .total{
	background-color:gray;
}

time{
	font-size:0.8em;
	color:gray;
}

table th, table td { /*overwrite bootstrap style*/
	padding: 5px;
	line-height: 18px;
	text-align: left;
	vertical-align:middle;
}

table tbody tr td.icon {
	width:30px !important;
	height:30px !important;
}

table tbody tr td.icon span {display:none;}
table tbody tr td.avgresponse {font-weight:bold;;}

table .headerSortUp, table .headerSortDown {
	background-color: #f5f5f5;
	text-shadow: none;
	border-width:1px 1px 0px 1px;
	border-style:solid;
	border-color:#c2c2c2;
}

/*error*/
table tbody tr.error * {
	font-weight: bold;
	color:red;
}

table tbody tr.error td.icon {
	background: transparent url("/images/red.png") 5px 5px no-repeat;	
}

/*ok*/
table tbody tr.ok td.hosturl a {
	color:green;
}
table tbody tr.ok td.icon {
	background: transparent url("/images/green.png") 5px 5px no-repeat;	
}

/*warning*/
table tr.warning td.icon {
	background: transparent url("/images/yellow.png") 5px 5px no-repeat;	
}

/*disabled*/
table tr.disabled, table tr.disabled td.hosturl a {
	background-color: #f5f5f5;
	color:gray !important;
}

table tr.disabled td.icon {
	background: transparent url("/images/disabled.png") 5px 5px no-repeat;	
}

table tr.disabled a.hosturl {
	color:gray !important;
}

table.events td.msg{
	width:70%;
}

a {
  color: #00B7FF;
}

.error, .failure {color:red;}
.ok{color:green;}
.warning, .warnings{color:orange;}

img.status_icon{
	max-width:35px;
	max-height:25px;
}
