body {
  padding-top: 60px;
}

a {
  color: #00B7FF;
}

/*overview*/
#status-overview {
  text-align: right;
  padding: 10px;
  font-size: 1.5em;
  color: white;
}

#status-overview span {
  color: white;
  display: inline;
  padding: 5px 12px;
  border-radius: 5px;
}

#status-overview .down{
  background-color:red;
}

.filter-container {
  margin: 10px 0;
}
.filter-container {
    position: relative;
}
.filter-container input {
    padding-right: 30px;
}
.filter-container span {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.table-services time {
  display:block;
  font-size:0.8em;
  color:#ccc;
}

.table-services td.hosturl time {
  display:inline;
}

.table-services td.service{
  text-align: center;
  text-transform: uppercase;
  margin-top:20px;
  font-size:1.2em;
  opacity:0.6;
  color:gray;
}

.table-services td .name {
  display:block;
  font-size:1.2em;
}

.table-services span.label {
  font-size:1.0em;
  line-height: 2.0em;
}

/*error*/
.table-services tr.result-error .hosturl a {
  font-weight: bold;
  color:red;
}

.table-services tr.result-error a {
  color:red;
}

/*ok*/
.table-services tr.result-success a {
  color:green;
}

/*disabled*/
.table-services tr.result-disabled, table tr.disabled td.hosturl a {
  background-color: #f5f5f5;
  color:gray !important;
}

.table-services tr.result-disabled {
  opacity:0.5;
}

.table-services tr.result-disabled .hosturl a {
  color:gray !important;
}

/* uptime */
.table-services td.result-uptime span{
  font-size:1.3em;
}

.result-error, .error, .failure, .critical {color:red;}
.result-success, .success {color:green;}
.result-warning, .warning, .warnings{color:orange;}

.last_check{
  color:#ccc;
}

/* details page */

.details-page h2 {
  margin: 10px 0;
  font-size: 2.6em;
}

.details-page h2 a{
  font-size: 0.7em;
}

.details-page h3 {
  font-size: 2em;
  margin: 0.5em 0;
}

.details-page .label.status {
  font-size:1.5em;
  line-height: 2em;
}

.details-page .timeago {
  color:gray;
}

.details-page table.general td:first-child {
  padding-right:10px;
}
.details-page table.general .label {
  margin:5px;
}

.details-page h1.uptime {
  margin-top: 0;
}

.details-page .section {
  margin-bottom: 2em;
}

.details-page .status > div {
  padding:15px;
  min-height: 100px;
}

footer{
  color:#ccc;
  padding:20px;
  text-align: center;
}

footer a {
  color:#c2c2c2;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  background-color: #f5f5f5;
  border-radius: 3px;
}