body {
  padding-top: 60px;
}

a {
  color: #00B7FF;
}

.filter-container {
  max-width: 400px;
  margin: 10px 0;
}

.filter-container {
    position: relative;
}
.filter-container input {
    padding-right: 30px;    
}
.filter-container span {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.table-services time {
  display:block;
  font-size:0.8em;
  color:#ccc;
}

.table-services td.service{
  text-align: center;
  text-transform: uppercase;
  margin-top:20px;
  font-size:1.2em;
  opacity:0.6;
  color:gray;
}

.table-services td .name {
  display:block;
  font-size:1.2em;
}

.table-services span.label {
  font-size:1.0em;
  line-height: 2.0em;
}

/*error*/
.table-services tr.result-error .hosturl a {
  font-weight: bold;
  color:red;
}


/*ok*/
.table-services tr.result-success td.hosturl a {
  color:green;
}

/*disabled*/
.table-services tr.result-disabled, table tr.disabled td.hosturl a {
  background-color: #f5f5f5;
  color:gray !important;
}

.table-services tr.result-disabled {
  opacity:0.5;
}

.table-services tr.result-disabled .hosturl a {
  color:gray !important;
}

/* uptime */
.table-services td.result-uptime span{
  font-size:1.3em;
}

.result-error, .error, .failure, .critical {color:red;}
.result-success {color:green;}
.result-warning, .warning, .warnings{color:orange;}

.last_check{
  font-size:11px;
  color:#ccc;
}


/* details page */

.details-page h2 {
  margin: 10px 0;
}

.details-page .well{
  margin-top: 30px;
}
.details-page .well p {
  font-size: 1.6em;
}
.details-page .timeago {
  color:gray;
}

footer{
  color:#ccc;
  padding:20px;
  text-align: center;
}

footer a {
  color:#c2c2c2;
}
