*.js linguist-language=JavaScript
*.less linguist-language=LESS
*.css linguist-vendored
client/vendors/* linguist-vendored
*.html linguist-vendored
plugins/* linguist-vendored
coverage/* linguist-documentation
docs/* linguist-documentation
docs/helper.js linguist-documentation=false
.dev/* linguist-vendored
webserver/public/build/* linguist-vendored
