<h4>Latest outages</h4>
<div ng-repeat="log in latestOutages">
    <div ng-class-odd="'outage odd'" ng-class-even="'outage even'">
        <div class="error">
            {{log.error}}
        </div>
        <div>
            Downtime: <strong><span ms-time="log.downtime"></span></strong>
        </div>
        <div class="timestamp">
            <span>{{log.timestamp | amDateFormat:'MMMM Do, HH:mm:ss'}}</span>
            - <span class="timeago" am-time-ago="log.timestamp"></span>
        </div>
    </div>
</div>
