<div ng-if="hasPingServiceOptions()" class="ping-service-option-panel">
    <h4>Ping options</h4>
    <div ng-repeat="(key, obj) in selectedPingServiceOptions">
        <div class="form-group">
            <label for="{{key}}" class="col-sm-2 control-label">{{key}}</label>
            <div class="col-sm-4">
                <textarea class="form-control"
                       id="{{key}}"
                       placeholder="{{obj.placeholder}}"
                       ng-required="{{obj.required}}"
                       type="text" rows="4"
                       ng-model="obj.value"
                       style="margin-left: 0px; margin-right: -361px; width: 565px;"/>
            </div>
            <div class="descr col-sm-6">{{obj.descr}}</div>
        </div>
    </div>
</div>


