<div ng-if="hasPingServiceOptions()" class="ping-service-option-panel">
    <h4>Ping options</h4>
    <div ng-repeat="(key, obj) in selectedPingServiceOptions">
        <div class="form-group">
            <label for="{{key}}" class="col-sm-2 control-label">{{key}}</label>
            <div class="col-sm-4">
                <input class="form-control"
                       id="{{key}}"
                       placeholder=""
                       ng-required="{{obj.required}}"
                       type="text"
                       ng-model="obj.value"/>
            </div>
            <div class="descr col-sm-6">{{obj.descr}}</div>
        </div>
    </div>
</div>


