<div class="section events row">

    <div class="col-md-6">
        <h4>Outages</h4>
        <p>Outages on the last week</p>
        <table ng-table="tableCriticalLogs" class="table-logs table sorted table-striped table-condensed">
            <tbody>
            <tr ng-repeat="log in $data">
                <td class="" data-title="'Message'" sortable="'msg'">
                        <span ng-class="{'success':log.status==='success','error':log.status==='error'}">
                            {{log.msg}}
                        </span>
                </td>
                <td class="" data-title="'When'" sortable="'timestamp'">
                    <span am-time-ago="log.timestamp"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h4>Warnings</h4>
        <p>Latency warnings over the last 24 hours</p>
        <table ng-table="tableWarningLogs" class="table-logs table sorted table-striped table-condensed">
            <tbody>
            <tr ng-repeat="log in $data">
                <td class="" data-title="'Message'" sortable="'msg'">
                        <span class="warning">
                            warning: {{log.l}} ms. latency
                        </span>
                </td>
                <td class="" data-title="'When'" sortable="'t'">
                    <span am-time-ago="log.t"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>