.details-page {

  .status-header {
    margin-bottom: 1em;

    span.label {
      font-size: 1.8em;
      line-height: 1.8em;
    }

    .latency > div {
      display:inline;
      float:left;
    }
  }

  h2 {
    margin: 10px 0;
    font-size: 2.6em;
  }

  h3 {
    font-size: 2em;
    margin: 0.5em 0;

    > span {
      font-size: 0.5em;
      color: #ccc;
      font-weight: normal;
    }
  }
  .table-logs {
    th {
      text-align: left;
    }

    td:first-child {
      width: 70%;
    }
  }
}

