<div class="details-page">

  <a style="float:right" href="/" class="btn btn-default">
    <span class="glyphicon glyphicon-chevron-left"></span> back to list
  </a>

  <h2>
    <%=service.host.name%>
  </h2>

  <h3>Service status</h3>
  <div class="section status row">
  
    <div class="col-md-4">
        <h1 class="uptime">
        <% if (!service.enabled){ %>  
          <span title="Disabled" class="label label-default">Service disabled</span>
        <% } else if (service.data && service.data.uptime){ %>  
          <span title="Up time: <%=service.data.uptime%>" class="label label-<%if (status === "error") { %>danger<% } else if (status === "success") { %>success<% } else { %>default<% } %>"><%=service.data.uptime %> %</span> <span class="small">uptime</span>
        <% } else { %>
          <span title="Offline" class="label label-danger">Offline</span>
        <% } %>
        </h1>
        <div>
          <span class="text-muted small">uptime (since last service failure): </span>
          <%=dateformat(service.data.up_since, 'timespan')%>
        </div>
    </div>

    <div class="col-md-4">
      <% if (service.data && service.data.avg_response_time){ %>  
        <p>AVG. latency: 
          <span title="AVG response time: <%=service.data.avg_response_time%> milliseconds" class="label label-default"><%=service.data.avg_response_time %></span> milliseconds
        </p>
      <% } %>
    </div>

    <div class="col-md-4">
      <% if (service.data && service.data.outages){ %>  
        <p>Outages : 
          <span title="outages: <%=service.data.outages%>" class="label label-danger"><%=service.data.outages %></span>
          <% if (service.data && service.data.last_outage){ %>  
            <span class="text-muted small">
            - last one was <%=dateformat(service.data.last_outage, 'ago')%>
            </span>
          <% } %>
        </p>
      <% } %>

      <% if (service.data && service.data.warnings){ %>  
        <p>Warnings : 
          <span title="warnings: <%=service.data.warnings%>" class="label label-warning"><%=service.data.warnings %></span>
          <% if (service.data && service.data.last_warning){ %>  
            <span class="text-muted small">
            - last one was <%=dateformat(service.data.last_warning, 'ago')%>
            </span>
          <% } %>
        </p>
      <% } %>
    </div>
  </div>


  <h3>Service configuration</h3>
  <div class="section configuration row">

    <div class="col-md-4">
      <p>
        Host: 
        <a target="_blank" href="<%=service.host.host%>:<%=service.host.port%>">
          <%=service.host.host%> (port <%=service.host.port%>)
        </a>
      </p>

      <p>
      Ping interval: <em><%=service.host.ping_interval%></em> seconds
      </p>

      <% if (service.host.warning_if_takes_more_than){ %>
      <p>
      Latency threshold: <span title="ping interval: <%=service.host.ping_interval%> seconds" class="label label-default"><%=service.host.warning_if_takes_more_than%></span> milliseconds
      </p>
      <% } %>
    </div>

    <div class="col-md-4">
      <% if (service.expected){ %>
        <p>Expected response:</p>
        <ul>
        <% if (service.expected && service.expected.statuscode){ %>
        <li>
        Status code: <span title="ping interval: <%=service.expected.statuscode%> seconds" class="label label-default"><%=service.expected.statuscode%></span>
        </li>
        <% } %>

        <% if (service.expected && service.expected.contains){ %>
        <li>
        Text in body: <em><%=service.expected.contains%></em>
        </li>
        <% } %>
        </ul>
      <% } %>
    </div>

    <div class="col-md-4">
    </div>

  </div>
  
  <h3>Events</h3>
  <div class="section events row">
    <div class="col-md-6">
    <%-partial ('partial/display_logs_list', {logs:critical_events, log_type:'Critical'})%>
    </div>

    <div class="col-md-6">
    <%-partial ('partial/display_logs_list', {logs:warning_events, log_type:'Warning'})%>
    </div>
  </div>

</div>