<a style="float:right" href="/" class="btn primary">back to list</a>
<h2><%=title%></h2> 

<h2 class="<%=url_status%>"><img class="status_icon" src="/images/<%=url_status%>.png" alt="<%=url_status%>" /> <%=url_status%></h2>

<ul>
<% for (var day in today_avg_info){ %>
  <% for (var h in today_avg_info[day]){ %>
    <li>
    <%=day%> / <%=h%>: 
    <% if (today_avg_info[day][h]){ %>
      <%=today_avg_info[day][h]%>
    <%} else {%>
    0
    <%}%>
    </li>
  <%}%>
<%}%>
</ul>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% for (var i=0; i<report_by_day.length;i++){ %>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task');
        data.addColumn('number', 'Hours per Day');
        data.addRows([
          ['Down', <%=Math.round (report_by_day[i].minutes_with_errors) %>],
          ['Warning', <%=Math.round (report_by_day[i].minutes_with_warnings) %>],
          ['Up', <%=Math.round (60 * 24 - report_by_day[i].minutes_with_warnings - report_by_day[i].minutes_with_errors) %>]
        ]);

        var options = {
          title: 'Site up',
          colors: ['red','orange','green']
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div<%=i%>'));
        chart.draw(data, options);
      }
    </script>

    <div id="chart_div<%=i%>" style="width: 300px; height: 250px; float:left"></div>
<%}%>

<div style="clear:both"></div>

<%-partial ('partial/display_logs_list', {logs:logs_critical, log_type:'Critical'})%>
<%-partial ('partial/display_logs_list', {logs:logs_warning, log_type:'Warning'})%>

<a href="/" class="btn primary">back to list</a>
