<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">watchmen</a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="status-overview">
                <% if (user && user.isAdmin) { %>
                <a ui-sref="newService" class="btn-primary btn nodecoration">Add New Service</a>
                <% } %>
                <span ng-if="servicesDown>0" class="down">{{servicesDown}}
                    <span ng-if="servicesDown>1">services</span>
                    <span ng-if="servicesDown==1">service</span>
                    down
                </span>
            </div>
        </div>
    </div>
</div>