<script id='urlTemplate' type="text/x-jquery-tmpl">
    <tr class="${status}">
		<td class="icon">
			<span>${status}</span>
		</td>
		<td class="hosturl">
			<a target="_blank" href="${host.protocol || 'http'}://${host.host}:${host.port}${url}">
				${host.name} ${url}
			</a>
		</td>

		<td>${ping_interval}</td>

		<td>${warning_if_takes_more_than}</td>

		<td class="avgresponse">
			${avg_response_time}
		</td>
		<td>
			{{if (lastfailuretime)}}
			<span class="error">
				${lastfailuretime} <br /><time class='timeago' datetime='${lastfailure}'>${lastfailure}</time>
			</span>
			{{/if}}
		</td>
		<td>
			{{if (lastwarningtime)}}
			<span class="warning">
				${lastwarningtime} <br /><time class='timeago' datetime='${lastwarning}'>${lastwarning}</time>
			</span>
			{{/if}}
		</td>
		<td>
			{{if (lastoktime)}}
			<span class="ok">
				${lastoktime} <br /><time class='timeago' datetime='${lastok}'>${lastok}</time>
			</span>
			{{/if}}
		</td>
		<td>
			<a class="btn primary" href="/log?url=${url}&host=${host.host}&port=${host.port}">details</a>
		</td>
    </tr>
</script>

<div class="filter">
	filter : <input placeholder="filter by host name" data-bind="value: filter, valueUpdate: 'afterkeydown'" />
</div>

<div class="overview">
	<span class="up" data-bind="text: hostsUp"></span>
	+
	<span class="down" data-bind="text: hostsDown"></span>
	=
	<span class="total" data-bind="text: hostsTotal"></span>
</div>

<table >
	<thead>
		<th></th>
		<th>HOST+URL</th>
		<th width="50" class = "{sorter: 'digit'}">Ping (sec)</th>
		<th width="80" class = "{sorter: 'digit'}">Response limit (ms)</th>
		<th width="150" class = "{sorter: 'digit'}">AVG Response time (ms)</th>
		<th width="150" class="error">Last failure</th>
		<th width="150" class="warning">Last warning</th>
		<th width="150" class="ok">Last ok</th>
		<th width="100"></th>
	</thead>	
	<tbody id="items" data-bind='template: {name:"urlTemplate", foreach: filteredUrls}'>
	</tbody>
</table>

<script>
$(document).ready(function() {
	Refresh();
});
</script>
