<!doctype html>
<html lang="en" ng-app="watchmenApp">
  <head>
    <title>watchmen, http monitor for node.js - <%= title %></title>
    <link rel='stylesheet' href='<%=baseUrl%>build/style.css' />
    <meta name="viewport" content="width=device-width">
    <base href="<%=baseUrl%>">
  </head>
  <body>

  <div class="container-fluid">
      <div class="view-frame" ui-view></div>
  </div>

  <script type="text/ng-template" id="service-detail.html">
    <%- include service-detail.html %>
  </script>

  <script type="text/ng-template" id="service-list.html">
    <%- include service-list.html %>
  </script>

  <script type="text/ng-template" id="service-edit.html">
    <%- include service-edit.html %>
  </script>

  <script type="text/ng-template" id="header.html">
    <%- include header.html %>
  </script>

  <script type="text/ng-template" id="ping-service-options.html">
    <%- include partials/ping-service-options.html %>
  </script>

  <span class="spinner" us-spinner="{radius:50, width:10, length: 50}" spinner-key="spinner-1"></span>

  <footer>
    <% if (user) { %>
      <script>window.isAdmin=<%=user.isAdmin%>;</script>
    <% } %>
    <a target="_blank" href="https://github.com/iloire/WatchMen">watchmen source code (github)</a> |
    author: <a target="_blank" href="http://iloire.com">iloire.com</a> | bitcoin: 1DQRybRW7cQtRq65qCxkpGNLX9BVjmfJaY
  </footer>

  <script src="<%=baseUrl%>build/scripts.js"></script>

  <% if (ga_analytics_ID) { %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%=ga_analytics_ID%>', 'auto');
    ga('send', 'pageview');
  </script>
  <% } %>

  </body>
</html>
