<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>	
	<div class="topbar">
	      <div class="fill">
	        <div class="container fixed">
	          <h3><a href="/">watchmen</a></h3>
	        </div>
	      </div>
	</div>
	<div class="container">
    <%- body %>
	</div>
  </body>
</html>