<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="/js/jquery.timeago.js" type="text/javascript"></script>
  </head>
  <body>	
	<div class="topbar">
	      <div class="fill">
	        <div class="container-fluid">
	          <h3><a href="/">watchmen</a></h3>
	        </div>
	      </div>
	</div>
	<div class="container-fluid">
    <%- body %>
	</div>
	<script>
	jQuery(document).ready(function() {
	  jQuery("time.timeago").timeago();
	});
	</script>
  </body>
</html>