<script id='services_list_template' type="text/x-handlebars-template">

<table class="table-services table sorted table-striped table-condensed">
  <thead>
    <th></th>
    <th class="hidden-xs">ping</th>
    <th>host</th>
    <th class="hidden-xs"><span title="Average response time (milliseconds)">AVG res. (ms)</span></th>
    <th class="hidden-xs">outages</th>
    <th class="hidden-xs">last outage</th>
    <th class="hidden-xs hidden-sm">warnings</th>
    <th class="hidden-xs hidden-sm">last warning</th>
    <th>uptime</th>
  </thead>
  <tbody>

  {{#each services}}
  <tr class="result-{{#if enabled}}{{data.status}}{{else}}disabled{{/if}}">
    <td>
      {{#ifvalue data.status value="error"}}
          <span class="label label-danger">offline</span>
      {{/ifvalue}}

      {{#ifvalue data.status value="success"}}
          <span class="label label-success">online</span>
      {{/ifvalue}}
    </td>

    <td class="service hidden-xs">
      {{ping_service_name}}
    </td>

    <td class="hosturl">
      <a class="name" href="/details?service={{name}}&host={{host.name}}">
        {{host.name}} / {{name}}
      </a>

      {{#if data.last_check}}
      <span class="hidden-xs last_check">
        last ping:
        {{dateFormat data.last_check format="MMM Do, h:mm:ss"}}
        <time datetime='{{dateFormat data.last_check format="MMMM Do, h:mm:ss"}}'>{{dateFormat data.last_check ago=true}}</time>
      </span>
      {{/if}}

    </td>

    <td class="avgresponse hidden-xs">
      {{#if data.avg_response_time}}
      <span class="label label-default">{{data.avg_response_time}}</span>
      {{/if}}
    </td>

    <td class="result-error hidden-xs">
      {{#if data.outages}}
      <span class="label label-danger">{{data.outages}}</span>
      {{/if}}
    </td>

    <td class="result-error hidden-xs">
      {{#if data.last_outage}}
      {{dateFormat data.last_outage format="MMM Do, h:mm:ss"}}
      <br />
      <time datetime='{{dateFormat data.last_outage format="MMMM Do, h:mm:ss"}}'>{{dateFormat data.last_outage ago=true}}</time>
      {{/if}}
    </td>

    <td class="result-warning hidden-xs hidden-sm">
      {{#if data.warnings}}
      <span class="label label-warning">{{data.warnings}}</span>
      {{/if}}
    </td>

    <td class="result-warning hidden-xs hidden-sm">
      {{#if data.last_warning}}
      {{dateFormat data.last_warning format="MMM Do, h:mm:ss"}}
      <time datetime='{{dateFormat data.last_warning format="MMMM Do, h:mm:ss"}}'>{{dateFormat data.last_warning ago=true}}</time>
      {{/if}}
    </td>

    <td class="result-uptime">
      {{#if data.uptime}}
      <a class="name" href="/details?service={{name}}&host={{host.name}}">
        <span>
        {{data.uptime}}%
        </span>
      </a>
      {{/if}}
    </td>

  </tr>
  {{/each}}
  </tbody>
</table>
</script>

<div class="filter-container">
  <span class="glyphicon glyphicon-search"></span>
  <input class="form-control" type="text" id="filter" placeholder="filter by host name"/>
</div>

<div id="data_holder"></div>

<script>
$(document).ready(function() {
  $('#filter').keydown(function(event){
    watchmen_client.bind(_data, $(this).val());
  });
  watchmen_client.refresh();
});
</script>