<%- include header.html %>

<div ng-if="errorLoadingServices" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span>{{errorLoadingServices}}</span>
</div>

<div class="container-fluid" ng-show="!loading">
    <div class="row">

        <div class="filter-container">
            <span class="glyphicon glyphicon-search"></span>
            <input ng-model="query" class="form-control" placeholder="filter by host name"/>
        </div>

        <table ng-table="tableParams" class="table-services table sorted table-striped table-condensed">
            <tbody>
            <tr ng-class={'result-disabled':service.enabled===false,'result-success':service.data.status=='success','result-error':service.data.status=='error','result-error':!service.data,'result-error':!service.data.status} ng-repeat="service in $data | filter:query">
                <td data-title="'Status'" sortable="'data.status'">
                    <span ng-if="service.data.status == 'error'" class="label label-danger">offline</span>
                    <span ng-if="service.data.status == 'success'" class="label label-success">online</span>
                </td>

                <td header-class="'hidden-xs'" class="service hidden-xs" data-title="'Service'" sortable="'name'">
                    {{service.ping_service_name}}
                </td>

                <td data-title="'Host'" sortable="'host.name'">
                    <a class="name" href="/details/{{service.host.name}}/{{service.name}}">
                        {{service.host.name}} / {{service.name}}
                        77 {{service.data.status}} 77
                    </a>

                    <span ng-if="service.data.last_check" class="hidden-xs last_check">
                        last ping:
                        <span>{{service.data.last_check | amDateFormat:'DD/MMM, HH:mm'}}</span>
                        (<span class="time-ago" am-time-ago="service.data.last_check"></span>)
                    </span>
                </td>

                <td header-class="'hidden-xs'" class="avgresponse hidden-xs" data-title="'AVG res. (ms)'" sortable="'latest_mean_latency'">
                    <span ng-if="service.latest_mean_latency" class="label label-default">
                        {{service.latest_mean_latency}}
                    </span>
                </td>

                <td header-class="'hidden-xs'" class="outages hidden-xs" data-title="'Outages last 24h'" sortable="'outages_last_24hours'">
                    <span ng-if="service.outages_last_24hours" class="label label-danger">{{service.outages_last_24hours}}</span>
                </td>

                <td header-class="'hidden-xs'" class="outages hidden-xs" data-title="'Last outage'" sortable="'data.last_outage'">
                    <div ng-if="service.data.last_outage">
                        <span class="time-ago" am-time-ago="service.data.last_outage"></span>
                    </div>
                </td>

                <td header-class="'hidden-xs hidden-sm'" class="warnings hidden-xs hidden-sm" data-title="'Warnings last 24h'" sortable="'warnings_last_24Hours'">
                    <span ng-if="service.warnings_last_24Hours" class="label label-warning">{{service.warnings_last_24Hours}}</span>
                </td>

                <td header-class="'hidden-xs hidden-sm'" class="warnings hidden-xs hidden-sm" data-title="'Last warning'" sortable="'data.last_warning'">
                    <div ng-if="service.data.last_warning">
                        <span class="time-ago" am-time-ago="service.data.last_warning"></span>
                    </div>
                </td>

                <td class="result-uptime"  data-title="'Uptime'" sortable="'data.uptime'">
                    <a ng-if="service.data.uptime" class="name" href="/details/{{service.host.name}}/{{service.name}}">
                        <span>{{service.data.uptime}}%</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
