<%- include header.html %>

<div class="details-page" ng-show="!loading">

    <a style="float:right" href="/" class="btn btn-default hidden-xs">
        <span class="glyphicon glyphicon-chevron-left"></span> back to list
    </a>

    <h2>{{serviceDetails.service.host.name}}</h2>

    <%- include partials/service-detail-status-header.html %>

    <div class="configuration">
        <%- include partials/service-detail-configuration.html %>
    </div>

    <div ng-show="showLastHourChart">
        <h4>Last hour</h4>
        <div id='chart-last-hour'></div>
    </div>
    <div ng-show="showLast24Chart">
        <h4>Last 24 hours</h4>
        <div id='chart-last-24-hours'></div>
    </div>
    <div ng-show="showLastWeekChart">
        <h4>Last week</h4>
        <div id='chart-last-week'></div>
    </div>

    <%- include partials/service-detail-events.html %>
</div>