<%- include header.html %>



<div ng-if="errorLoadingServices" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span>{{errorLoadingServices}}</span>
</div>

<div class="container-fluid" ng-show="!loading">
    <div class="row">
        <div class="filter-container">
            <span class="glyphicon glyphicon-search"></span>
            <input ng-model="query" class="form-control" placeholder="filter by host name"/>
        </div>

        <table ng-table="tableParams" class="table-services table sorted table-striped table-condensed">
            <tbody>

            <tr ng-class={'result-disabled':row.service.enabled===false,'result-success':!service.currentOutage,'result-error':service.currentOutage} ng-repeat="row in $data | filter:query">
                <td data-title="'Status'" sortable="'status.currentOutage'">
                    <span ng-if="row.status.currentOutage" class="label label-danger">offline</span>
                    <span ng-if="!row.status.currentOutage" class="label label-success">online</span>
                </td>

                <td class="result-uptime"  data-title="'Uptime last 24h'" sortable="'status.last24Hours.uptime'">
                    <a ng-if="row.status.last24Hours.uptime" class="name" href="/services/{{row.service.id}}/view">
                        <span>{{row.status.last24Hours.uptime}}%</span>
                    </a>
                </td>

                <td header-class="'hidden-xs'" class="service hidden-xs" data-title="'Service'" sortable="'name'">
                    {{row.service.pingServiceName}}
                </td>

                <td data-title="'Host'" sortable="'service.name'">
                    <a class="name" href="/services/{{row.service.id}}/view">
                        {{row.service.name}}
                    </a>
                </td>

                <td header-class="'hidden-xs'" class="outages hidden-xs" data-title="'Downtime last 24h'" sortable="'status.last24Hours.downtime'">
                    <span ng-if="row.status.last24Hours.downtime" class="label label-danger">
                        <span ms-time="row.status.last24Hours.downtime"></span>
                    </span>
                </td>

                <td header-class="'hidden-sm hidden-xs'" class="outages hidden-sm hidden-xs" data-title="'Number outages last 24h'" sortable="'status.lastWeek.numberOutages'">
                    <span class="label label-danger" ng-if="row.status.last24Hours.numberOutages">
                        {{row.status.last24Hours.numberOutages}}
                    </span>
                </td>

            </tr>
            </tbody>
        </table>

    </div>
</div>
