<%- include header.html %>

<div ng-if="errorLoadingService" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span>{{errorLoadingService}}</span>
</div>

<div class="details-page" ng-show="!loading && !errorLoadingService">

    <a style="float:right" href="/services" class="hidden-xs">
        <span class="glyphicon glyphicon-chevron-left"></span> back to list
    </a>

    <h2>{{serviceDetails.service.name}}</h2>

    <div class="status">
        <div ng-if="!serviceDetails.status.currentOutage">
            <span title="Enabled" class="up">Site is Up!</span>
            <span ng-if="serviceDetails.status.latestOutages[0]">
                Last outage happened
                <span am-time-ago="serviceDetails.status.latestOutages[0].timestamp"></span>
            </span>
        </div>

        <div ng-if="serviceDetails.status.currentOutage">
            <span title="Outage" class="down">Site is DOWN!.</span>
                Outage ocurred
            <span am-time-ago="serviceDetails.status.currentOutage.timestamp"></span>
        </div>
    </div>

    <div class="section events row">

        <div class="col-md-12">

            <!--<div class="configuration">-->
                <!--<%// include partials/service-detail-configuration.html %>-->
            <!--</div>-->

            <div class="chart-wrapper" ng-show="showLastHourChart">
                <h4>Last hour</h4>
                <span title="Last hour uptime: {{serviceDetails.status.lastHour.uptime}} %">
                    {{serviceDetails.status.lastHour.uptime}}% <span class="caption">uptime</span>
                </span>
                <span title="AVG response time: {{serviceDetails.status.lastHour.latency.mean}} milliseconds" class="">
                        {{serviceDetails.status.lastHour.latency.mean}} <span class="caption">ms. avg latency</span>
                </span>

                <div class="chart" id='chart-last-hour'></div>
            </div>

            <div class="chart-wrapper" ng-show="showLast24Chart">
                <h4>Last 24 hours</h4>
                <span title="Last 24 hours uptime: {{serviceDetails.status.last24Hours.uptime}} %"
                      class="">
                    {{serviceDetails.status.last24Hours.uptime}}% <span class="caption">uptime</span>
                </span>
                <span title="AVG response time: {{serviceDetails.status.last24Hours.latency.mean}} milliseconds" class="">
                        {{serviceDetails.status.last24Hours.latency.mean}} <span class="caption">ms. avg latency</span>
                </span>

                <div class="chart" id='chart-last-24-hours'></div>
            </div>

            <div class="chart" id="chart-outages-last-24hour"></div>

            <div class="chart-wrapper" ng-show="showLastWeekChart">
                <h4>Last week</h4>

                <span title="Last 24 hours uptime: {{serviceDetails.status.lastWeek.uptime}} %"
                      class="">
                    {{serviceDetails.status.lastWeek.uptime}}% <span class="caption">uptime</span>
                </span>
                <span title="AVG response time: {{serviceDetails.status.lastWeek.latency.mean}} milliseconds" class="">
                        {{serviceDetails.status.lastWeek.latency.mean}} <span class="caption">ms. avg latency</span>
                </span>

                <div class="chart" id='chart-last-week'></div>
            </div>
        </div>
    </div>

    <div class="section events row">
        <div class="col-md-12 outages-list">
            <%- include partials/outages.html %>
        </div>
    </div>

</div>